<!DOCTYPE html>
<html>
  <head>
    <title>ELK Searcher</title>
    <meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="css/app.css" />

    <!--Import bootstrap --> 
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- <<< Import angular --> 
    <script src="js/angular/angular.js"></script>
    <script src="js/angular-ui/ui-bootstrap-tpls-0.14.3.js"></script>
    <!--  Import angular >>> --> 
        
    <!-- <<< Import app angular --> 
    <script src="js/app/app.js"></script>
    <!-- Import app angular >>> --> 
  </head>
  
  <body ng-app="appElkSearcher" ng-controller="mainController" class="container-fluid">
    <h1>ELK Searcher</h1>
    
    <h4>Asynchronous results</h4>
    <pre>Model: {{elkSearch | json}}</pre>
    <input type="text" ng-model="elkSearch" placeholder="Rechercher dans ELK" 
        uib-typeahead="item._source.message for item in searchELK($viewValue)" class="form-control">
    
    
  </body>
</html>